.performance {
  position: fixed;
  bottom: 11rem;
  right: 0;
  color: var(--color-text-primary);
  background-color: var(--color-surface-overlay);
  padding: 0.5rem 1rem;
  font-size: var(--font-size-ui-md);
}

@media only screen and (max-width: 1000px) {
  .performance {
    padding: 0.5rem;
    font-size: var(--font-size-ui-xs);
  }
}