.player-info {
  background-color: var(--blue);
  bottom: 0;
  display: flex;
  height: var(--size-player-bar);
  position: fixed;
  width: 100%;
}

.player-info>div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-lg);
  justify-content: center;
}

.player-info>div .label {
  font-size: var(--font-size-ui-4xl);
  font-weight: bold;
  text-transform: uppercase;
}

.player-info>div .value {
  background-color: var(--color-status-bg-soft);
  font-size: var(--font-size-ui-2xl);
  padding: var(--space-xs) var(--space-3xl);
  text-transform: uppercase;
}

.player-info>div .value.no {
  color: var(--color-status-positive);
}

.player-info>div .value.yes {
  color: var(--color-status-negative);
}

@media only screen and (max-width: 1000px) {
  .player-info>div .label {
    font-size: var(--font-size-ui-xs);
  }

  .player-info>div .value {
    font-size: var(--font-size-ui-md);
  }
}
