.chat {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: var(--color-text-primary);
  background-color: var(--color-surface-overlay);
  padding: var(--space-lg) var(--space-3xl);
  font-size: var(--font-size-ui-md);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 50;
}

.chat>.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-width: 30rem;
  max-height: 20rem;
  margin-bottom: 1rem;
}

.chat>.chat-messages>div {
  word-break: break-all;
}

.chat>.chat-messages .blue {
  color: var(--blue);
}

.chat>.chat-messages .red {
  color: var(--red);
}

.chat>.chat-messages .yellow {
  color: var(--yellow);
}

.chat>.chat-messages .green {
  color: var(--green);
}

.chat>.chat-messages .purple {
  color: var(--purple);
}

.chat>.chat-messages .pink {
  color: var(--pink);
}

.chat>.chat-messages .orange {
  color: var(--orange);
}

.chat>.chat-messages .gray {
  color: var(--gray);
}

.chat>input {
  background-color: transparent;
  padding: var(--space-lg) var(--space-3xl);
  border: 0.1rem solid var(--blue);
  color: var(--color-text-primary);
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .chat {
    bottom: 1rem;
    left: 0;
    padding: var(--space-lg);
    font-size: var(--font-size-ui-xs);
  }
}