.chat {
  position: fixed;
  bottom: 7rem;
  left: 1rem;
  color: #ffffff;
  background-color: #0000006d;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 50;
}

.chat>.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-width: 30rem;
  max-height: 20rem;
  margin-bottom: 1rem;
}

.chat>.chat-messages>div {
  word-break: break-all;
}

.chat>.chat-messages .blue {
  color: var(--blue);
}

.chat>.chat-messages .red {
  color: var(--red);
}

.chat>.chat-messages .yellow {
  color: var(--yellow);
}

.chat>.chat-messages .green {
  color: var(--green);
}

.chat>.chat-messages .purple {
  color: var(--purple);
}

.chat>.chat-messages .pink {
  color: var(--pink);
}

.chat>.chat-messages .orange {
  color: var(--orange);
}

.chat>.chat-messages .gray {
  color: var(--gray);
}

.chat>input {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--blue);
  color: #ffffff;
  width: 100%;
}
