.game-settings {
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: var(--color-text-primary);
  background-color: var(--color-surface-overlay);
  padding: var(--space-lg) var(--space-3xl);
  font-size: var(--font-size-ui-md);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-settings>div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .game-settings {
    display: block;
    top: 0;
    right: 0;
    font-size: var(--font-size-ui-xs);
    padding: var(--space-lg);
  }
  
  .game-settings>div {
    gap: 0.5rem;
  }
}