* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#render-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.player-info {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgb(29, 150, 255);
}

.player-info > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.player-info > div .label {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

.player-info > div .value {
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: rgb(207, 232, 255);
  padding: 0.2rem 1rem;
}

.player-info > div .value.no {
  color: rgb(27, 159, 27);
}

.player-info > div .value.yes {
  color: rgb(193, 56, 18);
}

.timer {
  position: fixed;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  bottom: 7rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.times-list {
  color: white;
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.times-list > ol > li{
  padding: 0.3rem;
}

.editor {
  display: flex;
  position: fixed;
  right: 1rem;
  top: 1rem;
  flex-direction: column;
  color: white;
}

.editor > div {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
}