* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#render-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.player-info {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: #1d96ff;
}

.player-info > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.player-info > div .label {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

.player-info > div .value {
  text-transform: uppercase;
  font-size: 1.4rem;
  background-color: #cfe8ff;
  padding: 0.2rem 1rem;
}

.player-info > div .value.no {
  color: #1b9f1b;
}

.player-info > div .value.yes {
  color: #c13812;
}

.timer {
  padding: 0.5rem 1rem;
  position: fixed;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  bottom: 6.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  flex-direction: column;
  align-items: center;
}

.timer > div {
  background-color: #0000006d;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.2rem;
}

.timer > div > .checkpoints {
  font-size: 1rem;
}

.times-list {
  color: #ffffff;
  position: fixed;
  left: 1rem;
  top: 1rem;
  background-color: #0000006d;
  padding: 0.5rem 1rem;
}

.times-list > ol > li{
  padding: 0.3rem;
}

.editor {
  display: flex;
  position: fixed;
  right: 1rem;
  top: 1rem;
  flex-direction: column;
  color: #ffffff;
  background-color: #0000006d;
  padding: 0 1rem;
  border-radius: 0.2rem;
}

.editor-controls {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.edit-mode > div,
.editor-controls > div,
.editor .camera > div {
  flex: 1;
  display: flex;
  column-gap: 1rem;
  padding: 0.4rem 0;
  flex-direction: row;
  justify-content: space-between;
}

.editor > div > label {
  width: 5rem;
}

.editor-controls > div > span {
  margin-bottom: 0;
}

.editor-controls > div input[type="checkbox"] {
  margin: 0;
}

.editor-controls > div > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.editor .heading {
  color: #1d96ff;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.editor .camera {
  display: flex;
  flex-direction: column;
}

.editor .camera > div > input[type="checkbox"] {
  margin-right: 0;
}